<div id="template-id-<%= template.id %>" class="bg-white shadow-md rounded-lg overflow-hidden border border-black mb-6">
  <%= link_to template_path(template), class: "block hover:bg-gray-100" do %>
    <div class="p-4 flex flex-col h-full">
      <div class="flex justify-between items-center mb-4">
        <h4 class="text-xl font-semibold">
          <%= template.title %>
        </h4>
      </div>
      <ul class="text-gray-600 mb-4">
        <% if template.user %>
          <li class="flex items-center"><i class="bi bi-person mr-2"></i><%= template.user.name %></li>
        <% end %>
        <li class="flex items-center"><i class="bi bi-calendar mr-2"></i><%= l template.created_at, format: :short %></li>
      </ul>
      <pre class="text-gray-800 mb-4"><%= template.description %></pre>
    </div>
  <% end %>
</div>