<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>
  </head>

  <body>
  <%= render 'shared/header' %>
    <div class="bg-white text-black p-4">
      ここに投稿されたテンプレート一覧が表示される予定です。
    </div>
    <div class="bg-white text-black p-4">
      <% if current_user %>
        <p>ログイン中のユーザー: <%= current_user.email %></p>
      <% else %>
        <p>ログインしていません。</p>
      <% end %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
